.anime{
    margin: 5px;
    margin-bottom: 20px;
}

label{
    color: azure;
}

body{
    background-color: black;
}


#add-anime{
    margin-top: 10px;
}

#anime-view p{
    color: azure;
}

#anime-view img{
    position: relative;
    float: left;
    width: 30%;
    margin-right: 10px;
    
}


